:root {
  --primary-color: #3498db;
  --secondary-color: #2980b9;
  --background-color: #f4f4f4;
  --text-color: #333;
  --border-color: #ddd;
  --below-threshold-color: #ffeaa7;
  --below-threshold-color-dark: #635c36;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.control-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select-container {
  position: relative;
}

.searchable-select {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: white;
}

.options-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid var(--border-color);
  border-top: none;
  z-index: 1000;
}

.option {
  padding: 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: var(--background-color);
}

label {
  margin-bottom: 0.25rem;
}

input[type="number"] {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
  position: relative;
}

button:hover,
button:focus {
  background-color: var(--secondary-color);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

#progressBar {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--background-color);
  border-radius: 4px;
  text-align: center;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid var(--border-color);
  min-width: 100px; /* Add this line to ensure a minimum width for all columns */
}

th {
  background-color: var(--primary-color);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

td {
  background-color: transparent; /* Changed from white to transparent */
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

td:first-child {
  background-color: var(--background-color); /* Use the main background color */
}

th:first-child {
  z-index: 11;
}

th:nth-child(2),
td:nth-child(2) {
  min-width: 150px; /* Adjust this value as needed */
}

.below-threshold {
  background-color: var(
    --below-threshold-color
  ) !important; /* Added !important */
}

img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .control-panel {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 2rem;
  }

  .input-group {
    width: calc(50% - 0.5rem);
  }
  button {
    width: auto;
  }
}

.progress-indicator {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #f4f4f4;
    --border-color: #555;
    --input-background: #444;
    --below-threshold-color: #635c36; /* Updated for dark mode */
  }

  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  .searchable-select,
  .options-container,
  input[type="number"],
  input[type="text"],
  select {
    background-color: var(--input-background);
    color: var(--text-color);
    border-color: var(--border-color);
  }

  td,
  td:first-child {
    color: var(--text-color);
  }

  .option:hover {
    background-color: #555;
  }
}
